#header img{
    padding-top:10px;
    padding-left: 25px;
    padding-bottom: 10px;

}
#header{
    background-color: green;
}
#HeaderLinks{
    float:right;
    padding-top:20px;
    padding-right:15px; /* Prevent displaying element at right end border of website*/
    
}
.LinksHead{
    padding-left:20px;
    padding-right: 20px;
    text-decoration: none;
    color:white;
}
.LinksHead:hover{
    text-decoration: none;
    color:lightgrey;
}

#EventMain{
    position: relative;
    text-align: center;
    
   }
#EventMain p{
    position: absolute;
    color:white;
    position: absolute;
    left:50%;
    top:50%;
    font-size: xx-large;
    transform: translate(-50%, -50%);
}
