/* .InfoEvent{
    
    color:black;
    padding-left: 50px;
    padding-right: 25px;
    border-top: 1px solid grey;
    padding-top:15px;
    padding-bottom:15px;
    
} */

.InfoEventA{
    
    color:black;
    padding-left: 50px;
    padding-right: 25px;
    border-top: 1px solid grey;
    padding-top:15px;
    padding-bottom:15px;
    
}
.Displayer{
    background-color: rgb(51, 49, 49);
    color:white;
    padding:25px;
    display:none;
}

@media (max-width: 767.98px) { 
    


 }



 @media (max-width: 1199.98px) { 
     
     
 }